@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .page {
    @apply mx-auto;
    @apply max-w-7xl;
    @apply space-y-6;
    @apply px-6;
  }

  .bg-auth {
    background: linear-gradient(rgb(0, 0, 0, 0.45), rgba(0, 0, 0, 0.75)),
      url("/images/bg-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
